<!-- header.html -->
<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TL - NOMBRE ALUMNO</a>
            <button class="navbar-toggler" type="button" data-bstoggle="collapse" data-bs-target="#navbarCollapse" ariacontrols="navbarCollapse" aria-expanded="false" aria-label="Toggle
navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"
                           th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:href="@{/regions}">Comunidades Autónomas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:href="@{/provinces}">Provincias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:href="@{/tickets}">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           th:href="@{/products}">Productos</a>
                    </li>
                </ul>
                <form th:action="@{/}" method="get" class="d-flex form-inline">
                    <select name="lang" onchange="this.form.submit()"
                            class="form-select">
                        <option value="es" th:selected="${#locale.language ==
'es'}">Español</option>
                        <option value="en" th:selected="${#locale.language ==
'en'}">English</option>
                    </select>
                </form>
            </div>
        </div>
    </nav>
</header>