<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Ticket Logger - Listado de Provincias')"></head>
<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<main class="container mt-5">
    <h1>Provincias</h1>

    <div th:replace="province-filter :: provinceFilter(${search}, ${sort}, ${currentPage})"></div>

    <!-- Muestra un mensaje de error si hay algún problema -->
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- Muestra la lista de regiones en una tabla -->
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="province : ${listProvincias}">
            <td th:text="${province.id}"></td>
            <td th:text="${province.code}"></td>
            <td th:text="${province.name}"></td>
            <td>
                <!-- Botón para editar -->
                <a th:href="@{/provinces/edit(id=${province.id})}" class="btn btn-primary btn-sm">Edit</a>

                <!-- Botón para eliminar -->
                <form th:action="@{/provinces/delete}" method="post" class="d-inline">
                    <input type="hidden" name="id" th:value="${province.id}"/>
                    <button type="submit" class="btn btn-danger btn-sm"
                            th:onclick="|return confirm('Are you sure you wantto delete this province?');|">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Sección de paginación -->
    <nav aria-label="Page navigation" class="mt-4" th:if="${totalPages > 1}">
        <ul class="pagination justify-content-center">

            <!-- Botón "Anterior" -->
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a aria-label="Previous"
                   class="page-link"
                   th:href="${#strings.isEmpty(search)} ? @{/provinces(page=${currentPage - 1}, sort=${sort})} :  @{/provinces(page=${currentPage - 1}, search=${search}, sort=${sort})}">&laquo;</a>
            </li>

            <!-- Números de página -->
            <li class="page-item" th:classappend="${i == currentPage} ? 'active'"
                th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a class="page-link"
                   th:href="${#strings.isEmpty(search)} ? @{/provinces(page=${i}, sort=${sort})} :  @{/provinces(page=${i}, search=${search}, sort=${sort})}"
                   th:text="${i}"></a>
            </li>

            <!-- Botón "Siguiente" -->
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a aria-label="Next" class="page-link"
                   th:href="${#strings.isEmpty(search)} ? @{/provinces(page=${currentPage + 1}, sort=${sort})} :  @{/provinces(page=${currentPage + 1}, search=${search}, sort=${sort})}">&raquo;</a>
            </li>
        </ul>
    </nav>

    <!-- Botón para añadir una nueva región -->
    <a th:href="@{/provinces/new}" class="btn btn-success mt-3">Add New Provincia</a>

    <!-- Volver a la página principal -->
    <a href="#" th:href="@{/}" class="btn btn-secondary mt-3">Back to Home</a>
</main>

</body>
</html>