<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Ticket Logger - Insertar/Actualizar Provincias')"></head>
<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<main class="container mt-5">
    <h1 th:text="${province.id == null ? 'Add New Province' : 'Edit Province'}"></h1>

    <!-- Muestra un mensaje de error si hay algún problema -->
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- Mostrar un mensaje de error si existe -->
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <form th:action="${province.id == null} ? @{/provinces/insert} : @{/provinces/update}"
          th:object="${province}" method="post" class="mt-4">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="code" class="form-label">Code:</label>

            <input type="text" th:field="*{code}" id="code" class="form-control" required />

        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>

            <input type="text" th:field="*{name}" id="name" class="form-control" required />

        </div>

        <button type="submit" class="btn btn-primary" th:text="${province.id ==null ? 'Create' : 'Update'}"></button>
    </form>

    <!-- Volver a la lista de provincias -->
    <a href="#" th:href="@{/provinces}" class="btn btn-secondary mt-3">Back to List</a>
</main>

</body>
</html>