<!-- Sección de filtrado -->
<div th:fragment="regionFilter(searchName, searchCode, sort, currentPage)">
    <form class="row g-3 mt-3 mb-3" method="get" th:action="@{/regions}">

        <!-- Campo búsqueda -->
        <div class="col-md-3">
            <input class="form-control" name="searchName"
                   placeholder="Filtrar nombre"
                   th:value="${search}"
                   type="text">
        </div>

        <!-- Campo búsqueda -->
        <div class="col-md-2">
            <input class="form-control" name="searchCode"
                   placeholder="Filtrar codigo"
                   th:value="${search}"
                   type="text">
        </div>

        <!-- Selector ordenación -->
        <div class="col-md-4">
            <select class="form-select" name="sort" th:value="${sort}">
                <option disabled th:selected="${sort == null}" value="">
                    Ordenar por...
                </option>
                <option th:selected="${sort == 'nameAsc'}" value="nameAsc">Nombre (A-Z)</option>
                <option th:selected="${sort == 'nameDesc'}" value="nameDesc">Nombre (Z-A)</option>
                <option th:selected="${sort == 'codeAsc'}" value="codeAsc">Código (A-Z)</option>
                <option th:selected="${sort == 'codeDesc'}" value="codeDesc">Código (Z-A)</option>
                <option th:selected="${sort == 'idAsc'}" value="idAsc">ID (ascendente)</option>
                <option th:selected="${sort == 'idDesc'}" value="idDesc">ID (descendente)</option>
            </select>
        </div>

        <!-- Botón Filtrar -->
        <div class="col-md-2">
            <button class="btn btn-primary w-100" type="submit">Filtrar</button>
        </div>

        <!-- Botón Limpiar -->
        <div class="col-md-1 d-flex justify-content-end">
            <a class="btn btn-secondary w-100" th:href="@{/regions}">Limpiar</a>
        </div>

    </form>
</div>
